<dx-data-grid id="gridContainer" #grid [dataSource]="data" keyExpr="Id" [showColumnLines]="true"
    [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true">
    <dxo-filter-row [visible]="true"></dxo-filter-row>

    <dxo-search-panel [visible]="true" [width]="300" placeholder="Search..."></dxo-search-panel>
    <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
    <dxo-paging [pageSize]="10"> </dxo-paging>
    <dxo-pager [visible]="true" [allowedPageSizes]="[10,20,30,40,50]" [displayMode]="'full'"
        [showPageSizeSelector]="true" [showInfo]="true" [showNavigationButtons]="true">
    </dxo-pager>
    <dxi-column dataField="Id" [width]="100"></dxi-column>
    <dxi-column dataField="Module" [width]="100"></dxi-column>
    <dxi-column dataField="SubModule" [width]="100"></dxi-column>
    <dxi-column dataField="Read" [width]="100"></dxi-column>
    <dxi-column dataField="Write" [width]="100"></dxi-column>
    <dxi-column dataField="CreatedBy" [width]="100"></dxi-column>
    <dxi-column dataField="DateCreated" [hidingPriority]="0"></dxi-column>   
    <dxi-column [width]="100" [allowFiltering]="false" [allowSorting]="false" cellTemplate="actions"></dxi-column>
    <div *dxTemplate="let data of 'actions'">
        <button class="gridbutton" title="Edit" (click)="editRoleDetail(data.data)">
            <i class="bx bx-edit" style="color:#3256a8"></i>
        </button>
        <button class="gridbutton" title="Delete" (click)="Delete(data.data)">
            <i class="bx bx-trash" style="color: red"></i>
        </button>
    </div>
</dx-data-grid>
<ng-template #centerDataModal class="modal fade modal-lg" tabindex="-1">
    <div class="modal-header">
        <h5 class="modal-title">Sub-County Entry</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modalRef?.hide()"></button>
    </div>
    <form class="needs-validation" (ngSubmit)="validSubmit()" [formGroup]="validationform">
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-6">
                    <label for="ModuleId">Module:</label>
                    <ng-select [items]="modulesSource" bindLabel="label" bindValue="id" formControlName="ModuleId"
                        [ngClass]="{'ng-invalid': submit && form.ModuleId.errors}" (change)="onmoduleChange($event)">
                    </ng-select>
                    <div *ngIf="submit && form.ModuleId.errors" class="invalid-feedback">
                        <span *ngIf="form.ModuleId.errors.required">Please provide a valid Module.</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label for="SubModuleId">SubModule:</label>
                    <ng-select [items]="submodulesSource" bindLabel="label" bindValue="id" formControlName="SubModuleId"
                        [ngClass]="{'ng-invalid': submit && form.SubModuleId.errors}">
                    </ng-select>
                    <div *ngIf="submit && form.SubModuleId.errors" class="invalid-feedback">
                        <span *ngIf="form.SubModuleId.errors.required">Please provide a valid SubModuleId.</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-check mt-4">
                        <input class="form-check-input" type="checkbox" id="Read" formControlName="Read">
                        <label class="form-check-label" for="Read">
                            Read
                        </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-check mt-4">
                        <input class="form-check-input" type="checkbox" id="Write" formControlName="Write">
                        <label class="form-check-label" for="Write">
                            Write
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger waves-effect" data-bs-dismiss="modal"
                (click)="hideModal()">Close</button>
            <button class="btn btn-primary waves-effect waves-light" type="submit" class="btn btn-primary w-md"
                [disabled]="loading">Submit</button>
        </div>
    </form>
</ng-template>
<ngx-loading [show]="loading"></ngx-loading>