<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="Add Clothes Category" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form class="needs-validation" [formGroup]="categoryForm" (ngSubmit)="validSubmit()">
            <div class="row">
              <div class="col-sm-3">
                <div class="mb-3">
                  <label for="Categoryname">Category Name</label>
                  <input id="Categoryname" name="Categoryname" type="text" placeholder="Category name"
                    class="form-control" formControlName="Categoryname"
                    [ngClass]="{'is-invalid': submit && form.Categoryname.errors}">
                  <div *ngIf="submit && form.Categoryname.errors" class="invalid-feedback">
                    <span *ngIf="form.Categoryname.errors.required">Category Name is required.</span>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="d-flex flex-wrap gap-2 mt-2">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <button type="button" class="btn btn-secondary">Cancel</button>
                  </div>
                </div>
              </div>
              <div class="col-sm-9">
                <!-- Table data -->

                <dx-data-grid id="gridContainer" #grid [dataSource]="dataSource" keyExpr="Id" [showColumnLines]="true"
                  [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true">
                  <dxo-filter-row [visible]="true"></dxo-filter-row>

                  <dxo-search-panel [visible]="true" [width]="300" placeholder="Search..."></dxo-search-panel>
                  <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
                  <dxo-paging [pageSize]="10"> </dxo-paging>
                  <dxo-pager [visible]="true" [allowedPageSizes]="[10,20,30,40,50]" [displayMode]="'full'"
                    [showPageSizeSelector]="true" [showInfo]="true" [showNavigationButtons]="true">
                  </dxo-pager>
                  <dxi-column dataField="Id" [width]="100"></dxi-column>
                  <dxi-column dataField="Name"></dxi-column>
                  <dxi-column dataField="CreatedBy" [width]="150"></dxi-column>
                  <dxi-column dataField="DateCreated" [width]="150" [hidingPriority]="0"></dxi-column>
                  <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>
                  <dxi-column [width]="120" [allowFiltering]="false" [allowSorting]="false" cellTemplate="actions"
                    caption="Actions"></dxi-column>
                  <div *dxTemplate="let data of 'actions'" class="d-flex flex-wrap gap-1">
                    <button type="button" class="gridbutton" title="Add Sub-Category"
                      (click)="AddSubCategories(data.data)">
                      <i class="bx bx-plus" style="color:#3256a8"></i>
                    </button>
                    <button type="button" class="gridbutton" title="Edit" (click)="GetClothesCategoriesById(data.data)">
                      <i class="bx bx-edit" style="color:#3256a8"></i>
                    </button>
                    <button type="button" class="gridbutton" title="Delete" (click)="Delete(data.data)">
                      <i class="bx bx-trash" style="color: red"></i>
                    </button>
                  </div>
                  <div *dxTemplate="let subcategories of 'detail'">
                    <app-subcategories [key]="subcategories.key"></app-subcategories>
                  </div>
                </dx-data-grid>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <label class="btn btn-default p-0">
                  <input type="file" accept="image/*" (change)="selectFile($event)" />
                </label>
              </div>

              <div class="col-4">
                <button class="btn btn-success btn-sm float-right" [disabled]="!selectedFiles" (click)="upload()">
                  Upload
                </button>
              </div>
            </div>
            <div>
              <img [src]="preview" class="preview" />
            </div>
            <div *ngIf="currentFile && progress" class="progress my-3">
              <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ progress }}"
                aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: progress + '%' }">
                {{ progress }}%
              </div>
            </div>

            <div *ngIf="message" class="alert alert-secondary" role="alert">
              {{ message }}
            </div>

            <div class="card">
              <div class="card-header">List of Images</div>
              <ul class="list-group list-group-flush">
                <li *ngFor="let image of imageInfos | async" class="list-group-item">
                  <p><a href="{{ image.url }}">{{ image.name }}</a></p>
                  <img src="{{ image.url }}" alt="{{ image.name }}" height="80px" />
                </li>
              </ul>
            </div>
            <div *ngIf="imageUrl">
              <img [src]="imageUrl" alt="Image">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #centerDataModal class="modal fade modal-lg" tabindex="-1">
  <div class="modal-header">
    <h5 class="modal-title">Sub-Category Entry</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="hideModal()"></button>
  </div>
  <form class="needs-validation" (ngSubmit)="validSubmitSubCategory()" [formGroup]="validationform">
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-4">
          <label for="FabricType">Fabric Type:</label><span style="color: red;">*</span>
          <input type="text" formControlName="FabricType" class="form-control"
            [ngClass]="{'is-invalid': submit2 && form2.FabricType.errors}">
          <div *ngIf="submit2 && form2.FabricType.errors" class="invalid-feedback">
            <span *ngIf="form2.FabricType.errors.required">Please provide a valid
              Fabric Type.</span>
          </div>
        </div>
        <div class="col-lg-4">
          <label for="Color">Color:</label><span style="color: red;">*</span>
          <input type="text" formControlName="Color" class="form-control"
            [ngClass]="{'is-invalid': submit2 && form2.Color.errors}">
          <div *ngIf="submit2 && form2.Color.errors" class="invalid-feedback">
            <span *ngIf="form2.Color.errors.required">Please provide a valid
              Color.</span>
          </div>
        </div>
        <div class="col-lg-4">
          <label for="Price">Price:</label><span style="color: red;">*</span>
          <input type="text" formControlName="Price" class="form-control"
            [ngClass]="{'is-invalid': submit2 && form2.Price.errors}">
          <div *ngIf="submit2 && form2.Price.errors" class="invalid-feedback">
            <span *ngIf="form2.Price.errors.required">Please provide a valid
              Price.</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <label for="CareInstructions">CareInstructions:</label>
          <textarea class="form-control" formControlName="CareInstructions" class="form-control"
            placeholder="Meta Description" id="CareInstructions" rows="4"></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger waves-effect" data-bs-dismiss="modal"
        (click)="hideModal()">Close</button>
      <button class="btn btn-primary waves-effect waves-light" type="submit" class="btn btn-primary w-md"
        [disabled]="loading">Submit</button>
    </div>
  </form>
</ng-template>
<ngx-loading [show]="loading"></ngx-loading>